<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
recharge
<p id="message"></p>
输入充值金额
<input type="number" id="money_num">
<input type="submit" id="submit">

<script>
    function get_user(){
        $.ajax({
            url:'/api/get_user/',
            type: 'GET',
            success: function(data){
                $('#message').text(data.message)
            }
        })
    }
    get_user()
    $('#submit').click(function(){
        if (/^([1-9][0-9]{0,2})$/.test($('#money_num').val())){
            $.ajax({
                url: '/api/recharge/',
                data:{
                    'money_num': $('#money_num').val(),
                },
                type: 'GET',
                success: function(data){
                    if (data.status){
                        alert(data.message)
                        if (data.can_borrow){
                            window.history.back();
                        }
                        get_user()
                    }else{
                        alert(data.message)
                    }
                }
            })
        }else{
            alert('请输入正确金额，最小单位为元，最大金额为999')
        }
    })
</script>
</body>
</html>